body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.jumbotron {
    background-image: url('312a8af386312ac7c1b5300049d61cd6.jpg');
    background-size:cover;
}
    .jumbotron h1 {
        color: brown
    }
    .jumbotron a {
        background-color: black
    }
.card {
background-color:#eee;
padding:20px
}
footer {
color:#fff;
background-color:#000;
padding:50px;
}
